{% extends "template.html" %}
{% block conteudo %}
<main>
    <div class="flex items-center justify-center mx-6 lg:inset-x-0 lg:top-40">
        <div
            class="my-24 p-10 bg-color-secundary-dark shadow rounded-3xl lg:rounded-md h-full w-full lg:w-auto py-28 lg:p-6">
            {% with messages = get_flashed_messages() %}
            {% if messages and error %}
            {% for message in messages %}
            <div class="text-center pt-0 lg:px-4">
                <div class="w-80 p-2 bg-color-danger items-center color-danger leading-none lg:rounded-full flex lg:inline-flex"
                    role="alert">
                    <span
                        class="flex rounded-full bg-color-light-light uppercase px-2 py-1 text-xs font-bold mr-3">New</span>
                    <span class="font-semibold mr-2 text-left flex-auto color-light-light">{{ message }}</span>
                    <svg class="color-light-light fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20">
                        <path
                            d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z" />
                    </svg>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% if messages and sucess%}
            {% for message in messages %}
            <div class="text-center pt-0 lg:px-4">
                <div class="w-80 p-2 bg-color-sucess items-center color-sucess leading-none lg:rounded-full flex lg:inline-flex"
                    role="alert">
                    <span
                        class="flex rounded-full bg-color-light-light uppercase px-2 py-1 text-xs font-bold mr-3">New</span>
                    <span class="font-semibold mr-2 text-left flex-auto color-light-light">{{ message }}</span>
                    <svg class="color-light-light fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20">
                        <path
                            d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z" />
                    </svg>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <br />
            <h3 class="text-white text-5xl lg:text-xl self-center text-center py-12 lg:py-2 w-full mr-64 lg:mr-40">
                {{option}} Chapter</h3>
            <form class="mt-4" method="POST" action="{{url_for('chapters'+option)}}">
                <div class="flex grid grid-cols-1">
                    <select name="manga"
                        class="text-white w-96 rounded-xl lg:rounded-md bg-color-secundary h-16 lg:h-8">
                        <option>Select a Manga</option>
                        <option>Manga 1</option>
                        <option>Manga 2</option>
                    </select>
                    {% if option == 'Create'%}
                    <label class="mt-6 block space-y-5 lg:space-y-2">
                        <span class="text-white text-3xl lg:text-sm">Chapter Name</span>
                        <input id="name" name="name"
                            class="text-3xl lg:text-sm px-3 py-2 h-16 lg:h-8 form-input mt-1 block w-96 rounded-xl lg:rounded-md bg-color-secundary border-gray-700 text-white"
                            {%if chapter %} value="{{chapter.name}}" {% endif %} required autofocus>
                    </label>
                    {% elif option == 'Delete' %}
                    <select name="name"
                        class="mt-6 text-white w-96 rounded-xl lg:rounded-md bg-color-secundary h-16 lg:h-8">
                        <option>Select a Chapter</option>
                        <option>Chapter 1</option>
                        <option>Chapter 2</option>
                    </select>
                    {% else %}
                    <select name="name"
                        class="mt-6 text-white w-96 rounded-xl lg:rounded-md bg-color-secundary h-16 lg:h-8">
                        <option>Select a Chapter</option>
                        <option>Chapter 1</option>
                        <option>Chapter 2</option>
                    </select>
                </div>
                <label class="mt-6 block space-y-5 lg:space-y-2">
                    <span class="text-white text-3xl lg:text-sm">Chapter Name</span>
                    <input id="new_name" name="new_name"
                        class="text-3xl lg:text-sm px-3 py-2 h-16 lg:h-8 form-input mt-1 block w-96 rounded-xl lg:rounded-md bg-color-secundary border-gray-700 text-white"
                        {%if chapter %} value="{{chapter.name}}" {% endif %} required autofocus>
                </label>
                {% endif %}
                {% if option != 'Delete'%}
                <div name="urls" id="urls">
                    <div id="url_0" name="url_0" class="grid grid-cols-5 mt-6">
                        <div class="col-span-4">
                            <label class="block space-y-5 lg:space-y-2 ">
                                <span class="text-white text-3xl lg:text-sm">Urls</span>
                                <input
                                    class="text-3xl lg:text-sm px-3 py-2 h-16 lg:h-8 form-input mt-1 block w-full rounded-xl lg:rounded-md bg-color-secundary border-gray-700 text-white"
                                    {%if chapter %} value="{{chapter.name}}" {% endif %} required autofocus>
                            </label>
                        </div>
                        <div class="inset-y-0 right-0">
                            <a id="add" onclick="add(0)"
                                class="mt-8 h-16 lg:h-8 inline-flex text-2xl lg:text-sm rounded text-white ml-4 py-1 px-3 rounded-lg hover:border-transparent hover:bg-white button">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px"
                                    class="fill-current">
                                    <path
                                        d="M 12 2 C 6.4666667 2 2 6.4666667 2 12 C 2 17.533333 6.4666667 22 12 22 C 17.533333 22 22 17.533333 22 12 C 22 6.4666667 17.533333 2 12 2 z M 11 7 L 13 7 L 13 11 L 17 11 L 17 13 L 13 13 L 13 17 L 11 17 L 11 13 L 7 13 L 7 11 L 11 11 L 11 7 z" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="mt-12 lg:mt-6">
                    {% if option == 'Delete'%}
                    <button type="submit"
                        class="w-full py-6 lg:py-2 px-4 text-center bg-color-danger rounded-xl lg:rounded-md text-white text-3xl lg:text-sm hover:bg-blue-500 focus:outline-none">
                        Delete
                    </button>
                    {% else %}
                    <button type="submit"
                        class="w-full py-6 lg:py-2 px-4 text-center bg-color-sucess rounded-xl lg:rounded-md text-white text-3xl lg:text-sm hover:bg-blue-500 focus:outline-none">
                        Save
                    </button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}
{% block script %}
<script>
    function add(it) {
        it = Number(it);
        $("#url_" + it).html(`<div class="col-span-4">
                            <label class="block space-y-5 lg:space-y-2 ">
                                <span class="text-white text-3xl lg:text-sm">Urls</span>
                                <input
                                    class="text-3xl lg:text-sm px-3 py-2 h-16 lg:h-8 form-input mt-1 block w-full rounded-xl lg:rounded-md bg-color-secundary border-gray-700 text-white"
                                    {%if chapter %} value="{{chapter.name}}" {% endif %} required autofocus>
                            </label>
                        </div>
                        <div class="inset-y-0 right-0">
                            <a id="remove" onclick="remove(`+ it + `)"
                                class="mt-8 h-16 lg:h-8 inline-flex text-2xl lg:text-sm rounded text-white ml-4 py-1 px-3 rounded-lg hover:border-transparent hover:bg-white button">
                                <?xml version="1.0"?><svg class="fill-current" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px">    <path d="M12,2C6.47,2,2,6.47,2,12s4.47,10,10,10s10-4.47,10-10S17.53,2,12,2z M17,15.59L15.59,17L12,13.41L8.41,17L7,15.59 L10.59,12L7,8.41L8.41,7L12,10.59L15.59,7L17,8.41L13.41,12L17,15.59z"/></svg>
                            </a>
                        </div>`);
        it++;
        var html = `<div id="url_` + it + `" name="url_` + it + `" class="grid grid-cols-5 mt-6">
                        <div class="col-span-4">
                            <label class="block space-y-5 lg:space-y-2 ">
                                <span class="text-white text-3xl lg:text-sm">Urls</span>
                                <input
                                    class="text-3xl lg:text-sm px-3 py-2 h-16 lg:h-8 form-input mt-1 block w-full rounded-xl lg:rounded-md bg-color-secundary border-gray-700 text-white"
                                    {%if chapter %} value="{{chapter.name}}" {% endif %} required autofocus>
                            </label>
                        </div>
                        <div class="inset-y-0 right-0">
                            <a id="add" onclick="add(`+ it + `)"
                                class="mt-8 h-16 lg:h-8 inline-flex text-2xl lg:text-sm rounded text-white ml-4 py-1 px-3 rounded-lg hover:border-transparent hover:bg-white button">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px"
                                    class="fill-current">
                                    <path
                                        d="M 12 2 C 6.4666667 2 2 6.4666667 2 12 C 2 17.533333 6.4666667 22 12 22 C 17.533333 22 22 17.533333 22 12 C 22 6.4666667 17.533333 2 12 2 z M 11 7 L 13 7 L 13 11 L 17 11 L 17 13 L 13 13 L 13 17 L 11 17 L 11 13 L 7 13 L 7 11 L 11 11 L 11 7 z" />
                                </svg>
                            </a>
                        </div>
                    </div>`
        $("#urls").append(html);
    }
    function remove(it) {
        it = Number(it);
        $("#url_" + it).remove();
    }
</script>
{% endblock %}