{% extends "template.html" %}
{% block conteudo %}
<div class="flex flex-cols flex-wrap gap-8 lg:gap-4 grid grid-cols-1 lg:grid-cols-2 md:items-center">
    {% for manga in mangas %}
    <!-- Start of component -->
    <a href='https://alyah.herokuapp.com/manga/{{ manga.name }}'>
        <div
            class="h-full lg:h-1/2 bg-color-secundary md:col-span-1 text-white p-8 lg:p-5 rounded-md tracking-wide shadow-lg">
            <div id="header" class="flex">
                <div>
                    <div class="manga">
                        <img alt="manga" class="w-full h-full rounded-xl lg:rounded-md" src="{{ manga.cover }}" />
                    </div>
                </div>
                <div id="body" class="flex flex-col ml-5 text-2xl lg:text-base">
                    <p id="job" class="md:text-left mt-0">
                        {{ manga.description }}
                    </p>
                </div>
            </div>
            <div
                class="mt-4 bg-color-primary-dark text-2xl lg:text-base md:justify-items-center text-center rounded-md">
                <small id="name" class="font-semibold">{{ manga.name }} de {{ manga.author }}</small>
            </div>
        </div>
    </a>
    <!-- End of component -->
    {% endfor%}
</div>
{% endblock %}