{% extends "template.html" %}
{% block conteudo %}
{% with messages = get_flashed_messages() %}
{% if messages%}
{% for message in messages %}
<div class="text-center pt-0 lg:px-4 absolute top-20 right-44">
    <div class="p-2 bg-color-sucess items-center color-sucess leading-none lg:rounded-full flex lg:inline-flex"
        role="alert">
        <span class="flex rounded-full bg-color-light-light uppercase px-2 py-1 text-xs font-bold mr-3">New</span>
        <span class="font-semibold mr-2 text-left flex-auto color-light-light">{{ message }}</span>
        <svg class="color-light-light fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20">
            <path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z" />
        </svg>
    </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="flex flex-cols flex-wrap gap-8 lg:gap-4 grid grid-cols-1 lg:grid-cols-2 md:items-center">
    {% for manga in mangas %}
    <!-- Start of component -->
    <a href='https://alyah.herokuapp.com/manga/{{ manga.name }}'>
        <div
            class="h-full lg:h-1/2 bg-color-secundary md:col-span-1 text-white p-8 lg:p-5 rounded-md tracking-wide shadow-lg">
            <div id="header" class="flex">
                <div>
                    <div class="manga">
                        <img alt="manga" class="w-full h-full rounded-xl lg:rounded-md" src="{{ manga.cover }}" />
                    </div>
                </div>
                <div id="body" class="flex flex-col ml-5 text-2xl lg:text-base">
                    <p id="job" class="md:text-left mt-0">
                        {{ manga.description }}
                    </p>
                </div>
            </div>
            <div
                class="mt-4 bg-color-primary-dark text-2xl lg:text-base md:justify-items-center text-center rounded-md">
                <small id="name" class="font-semibold">{{ manga.name }} de {{ manga.author }}</small>
            </div>
        </div>
    </a>
    <!-- End of component -->
    {% endfor%}
</div>
{% endblock %}