<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Alyah-Adm</title>
    <meta charset="utf-8" />
    <link class="rounded-circle" href="{{ url_for('static', filename='images/favicon.ico') }}" rel="icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/utilities.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.min.css') }}" />
</head>

<body class="bg-black">
    <div class="container mx-auto font-nunito py-10">
        <main>
            <div class="flex items-center justify-center lg:mt-0 mx-6 absolute lg:inset-x-0 lg:top-0">
                <div
                    class="my-24 p-6 bg-color-secundary-dark shadow rounded-3xl lg:rounded-md h-full w-full lg:w-auto py-40 lg:p-6">
                    {% with messages = get_flashed_messages() %}
                    {% if messages%}
                    {% for message in messages %}
                    <div class="text-center pt-0 lg:px-4">
                        <div class="w-64 p-2 bg-color-danger items-center color-danger leading-none lg:rounded-xl flex lg:inline-flex"
                            role="alert">
                            <span class="font-semibold text-center flex-auto color-light-light">{{ message }}</span>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <div class="py-10 flex justify-center">
                        <a href="/" class="logo">
                            <img src="/static/images/logo2.png" class="object-center" alt="Logo Icon">
                        </a>
                    </div>
                    <h3 class="text-white text-6xl lg:text-2xl self-center text-center py-12 lg:py-2">Login</h3>
                    <form method="POST" action="{{url_for('login')}}">
                        <div class="mx-10 lg:mx-2 my-10 lg:mt-5 flex flex-col">
                            <input name="_token" class="invisible w-72" value="96LGLQC0ylNCwHDLyTqFuBvSMwOqHi7voLu8lwj4">
                            <label class="block space-y-5 lg:space-y-2">
                                <span class="text-3xl lg:text-sm text-white">Email or Username</span>
                                <input id="email" name="email"
                                    class="text-3xl lg:text-sm px-3 py-2 h-16 lg:h-8 form-input mt-1 block w-72 rounded-xl lg:rounded-md bg-color-secundary border-gray-700 text-white"
                                    {% if user %} value="{{user.email}}" {% endif %} required autocomplete="email"
                                    autofocus>
                            </label>
                            <label class="block mt-6 lg:mt-3 space-y-5 lg:space-y-2">
                                <span class="text-white text-3xl lg:text-sm">Password</span>
                                <input id="password" type="password"
                                    class="text-3xl lg:text-sm px-3 py-2 h-16 lg:h-8 form-input mt-1 block w-72 rounded-xl lg:rounded-md bg-color-secundary border-gray-700 text-white"
                                    name="password" required autocomplete="current-password">
                            </label>
                            <!-- :TODO: [] fazer implementação do 'remember me' e 'forgot your password' no futuro se
                            necenssário
                            <div class="flex justify-between items-center mt-4">
                                <div>
                                    <label class="inline-flex items-center">
                                        <input type="checkbox"
                                            class="form-checkbox text-blue-500 bg-gray-800 border-gray-600"
                                            name="remember" id="remember">
                                        <span class="mx-2 text-gray-200 text-sm">Remember Me</span>
                                    </label>
                                </div>
                                <div>
                                    <a class="block text-sm text-blue-500 hover:underline"
                                        href="http://localhost:8000/password/reset">
                                        Forgot Your Password?
                                    </a>
                                </div>
                            </div> -->
                            <div class="mt-12 lg:mt-6">
                                <button type="submit"
                                    class="w-full py-6 lg:py-2 px-4 text-center bg-color-sucess rounded-xl lg:rounded-md text-white text-3xl lg:text-sm hover:bg-blue-500 focus:outline-none">
                                    Login
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script>
        function closeAlert() {
            $('#alert').addClass('hidden');
        }
    </script>
</body>

</html>