{% extends "template.html" %}
{% block conteudo %}
<main>
    <div class="flex items-center justify-center mx-6 lg:inset-x-0 lg:top-40">
        <div
            class="my-24 p-10 bg-color-secundary-dark shadow rounded-3xl lg:rounded-md h-full w-full lg:w-auto py-28 lg:p-6">
            {% with messages = get_flashed_messages() %}
            {% if messages and error %}
            {% for message in messages %}
            <div class="text-center pt-0 lg:px-4">
                <div class="p-2 bg-color-danger items-center color-danger leading-none lg:rounded-full flex lg:inline-flex"
                    role="alert">
                    <span
                        class="flex rounded-full bg-color-light-light uppercase px-2 py-1 text-xs font-bold mr-3">New</span>
                    <span class="font-semibold mr-2 text-left flex-auto color-light-light">{{ message }}</span>
                    <svg class="color-light-light fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20">
                        <path
                            d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z" />
                    </svg>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% if messages and sucess%}
            {% for message in messages %}
            <div class="text-center pt-0 lg:px-4">
                <div class="p-2 bg-color-sucess items-center color-sucess leading-none lg:rounded-full flex lg:inline-flex"
                    role="alert">
                    <span
                        class="flex rounded-full bg-color-light-light uppercase px-2 py-1 text-xs font-bold mr-3">New</span>
                    <span class="font-semibold mr-2 text-left flex-auto color-light-light">{{ message }}</span>
                    <svg class="color-light-light fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20">
                        <path
                            d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z" />
                    </svg>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <br />
            <h3 class="text-white text-5xl lg:text-xl self-center text-center py-12 lg:py-2 w-full mr-64 lg:mr-40">
                {{option}} Manga</h3>
            <form class="mt-4" method="POST" action="{{url_for('mangas'+option)}}">
                {% if option == 'Create'%}
                <label class="block space-y-5 lg:space-y-2">
                    <span class="text-white text-3xl lg:text-sm">Manga Name</span>
                    <input id="name" name="name"
                        class="text-3xl lg:text-sm px-3 py-2 h-16 lg:h-8 form-input mt-1 block w-full rounded-xl lg:rounded-md bg-color-secundary border-gray-700 text-white"
                        {%if manga %} value="{{manga.name}}" {% endif %} required autofocus>
                </label>
                {% elif option == 'Delete' %}
                <select name="name" class="text-white w-full rounded-xl lg:rounded-md bg-color-secundary h-16 lg:h-8">
                    <option>Select a Manga</option>
                    <option>Manga 1</option>
                    <option>Manga 2</option>
                </select>
                {% else %}
                <select name="name" class="text-white w-full rounded-xl lg:rounded-md bg-color-secundary h-16 lg:h-8">
                    <option>Select a Manga</option>
                    <option>Manga 1</option>
                    <option>Manga 2</option>
                </select>
                <label class="mt-6 block space-y-5 lg:space-y-2">
                    <span class="text-white text-3xl lg:text-sm">Manga Name</span>
                    <input id="new_name" name="new_name"
                        class="text-3xl lg:text-sm px-3 py-2 h-16 lg:h-8 form-input mt-1 block w-full rounded-xl lg:rounded-md bg-color-secundary border-gray-700 text-white"
                        {%if manga %} value="{{manga.name}}" {% endif %} required autofocus>
                </label>
                {% endif %}
                {% if option != 'Delete' %}
                <label class="mt-6 lg:mt-3 block space-y-5 lg:space-y-2">
                    <span class="text-white text-3xl lg:text-sm">Author Name</span>
                    <input id="author_name" name="author_name"
                        class="text-3xl lg:text-sm px-3 py-2 h-16 lg:h-8 form-input mt-1 block w-full rounded-xl lg:rounded-md bg-color-secundary border-gray-700 text-white"
                        {%if manga %} value="{{manga.author}}" {% endif %} required autofocus>
                </label>
                <label class="mt-6 lg:mt-3 block space-y-5 lg:space-y-2">
                    <span class="text-white text-3xl lg:text-sm">Cover</span>
                    <input id="cover" name="cover"
                        class="text-3xl lg:text-sm px-3 py-2 h-16 lg:h-8 form-input mt-1 block w-full rounded-xl lg:rounded-md bg-color-secundary border-gray-700 text-white"
                        {%if manga %} value="{{manga.cover}}" {% endif %} required autofocus>
                </label>
                <label class="mt-6 lg:mt-3 block mt-6 lg:mt-3 space-y-5 lg:space-y-2">
                    <span class="text-white text-3xl lg:text-sm">Description</span>
                    <textarea id="description" name="description" rows="3" autofocus
                        class="form-textarea resize-none border text-3xl lg:text-sm px-3 py-2 mt-1 block w-full rounded-xl lg:rounded-md bg-color-secundary border-gray-700 text-white">{%if manga %} value="{{manga.description}}" {% endif %}</textarea>
                </label>
                {% endif %}
                <div class="mt-12 lg:mt-6">
                    {% if option == 'Delete'%}
                    <button type="submit"
                        class="w-full py-6 lg:py-2 px-4 text-center bg-color-danger rounded-xl lg:rounded-md text-white text-3xl lg:text-sm hover:bg-blue-500 focus:outline-none">
                        Delete
                    </button>
                    {% else %}
                    <button type="submit"
                        class="w-full py-6 lg:py-2 px-4 text-center bg-color-sucess rounded-xl lg:rounded-md text-white text-3xl lg:text-sm hover:bg-blue-500 focus:outline-none">
                        Save
                    </button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}